.center_block {
    margin-top: 40px;
    width: 500px;
    border-radius: 13px;
    position:absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 340px;
    background-color:white;
    min-height: 500px;
    min-width: 500px;

}
.center_top{
    width: 502px;
    height: 50px;
    min-width: 502px;
    background-color:#204969;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.center_border{
    width: 500px;
    min-width: 500px;
    min-height: 500px;
    background:white;
    display:inline-block;
    float:left;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.form_block{
    width: 60%;
    margin: auto;
    margin-top: 30%;

}
input[type=text], input[type=password] {
    background-color: #F2F2F2;
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 0 8px 8px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 13px;
    box-sizing: border-box;
    font-size: 20px;
}
input[type=text]:hover {
    border: 1px solid #ccc;
    border-radius: 13px;
}
.submit_button{
    width: 55%;
    height: 45px;
    background-color: #204969;
    color: white;

    margin-top: 8px;
    margin-right: 25%;
    margin-left: 25%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}