.profile_block{
    display: flex;
    justify-content: center;
    align-items: center;

}
.personal_data_block{
    margin-top: 16px;
    border-width:thin;
    border-style:solid;
    border-color:#204969;
    border-radius: 12px;
    width: 525px;
    display: inline-block;
    background-color: white;
}
.qq{
    width: 500px;
    min-width: 500px;
    min-height: 250px;
    display:inline-block;
    margin-left: 6px;
}
.top{
    width: auto;
    height: 50px;
    background-color:#204969;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.top_text{
    padding-top: 10px;
    padding-left: 16px;
    color: white;
    font-size: 20px ;
}
.in_box_text{
    display: block;
    padding-left: 10px;
    font-size: 20px ;
}
.block_inside{
    width: 1074px;
    height: 850px;
}

.map_block{
    margin-top: 16px;
    min-height: 302px;
    width: 525px;
    float: right;
    border-radius: 13px;
    border-width: 1px;
    border-color:#204969;
    border-style:solid;
    background-image: url("../img/map.png");
}
.first_row{
    display: inline;
    width: 1120px;
}
.spamm{
    min-height: 302px;
    min-width: 520px;
}
.tracking_button{
    color: #204969;
    font-size: 30px;
    text-align: center;
    justify-content: center
}
