.list_item {
    width: 283px;
    background-color: white;
    color: #204969;
    border-color: #204969;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    height: 45px;
}
.list_item:hover{
    background-color: #91B4CF;
}
.list_item:focus{
    background-color: #204969;
    border: 0px;
}
.add_button{
    background-color : #1F6961;
    color : white;
    border-color : #1F6961;
}