.block{
    height: 360px;
    width: 280px;
    position: relative;
}
.img_block{
    position: absolute;
    top: 15px;
    left: 15px;
}
.img_text{
    position: relative;
    top: 280px;
    color: #204969;
    text-align: center;
}